<div class="container">
    <h3 class=" text-center">Create-task</h3>
    <div class="box">
        <div class="inbox">
            {{!-- <form method="post" action="/"> --}}
                <div class="inbox_menus">
                    <div class="inbox_menu">
                        <div class="menu_list active_menu">
                            <div class="menu_user">
                                <div class="user_img"> <img src="https://ptetutorials.com/images/user-profile.png"
                                        alt="sunil"> </div>
                                <div class="user_ib">
                                    <div class="user_ib">
                                    <h5>User：{{userName}}
                                        <input id="userName" value={{userName}} type="hidden" value="">
                                    </h5>
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="menu_list active_menu text-center">
                            <a href="/user" class="btn btn-raised btn-info">個人タスク</a>
                        </div>
                        <div class="menu_list active_menu text-center">
                            <a href="/room" class="btn btn-raised btn-success">全体チャット</a>
                        </div>
                        <div class="menu_list active_menu text-center">
                            <a href="/task" class="btn btn-raised btn-success">全体タスク</a>
                        </div>
                        <div class="menu_list active_menu text-center">
                            <button type="button" class="btn btn-primary bmd-btn-fab bmd-btn-fab-sm"><i
                                    class="fas fa-plus"></i></button>
                        </div>
                        <div class="menu_list active_menu text-center">
                            <a href="/" class="btn btn-raised btn-danger">ログアウト</a>
                        </div>
                    </div>
                </div>

                <div class="create_task">

                    <form method="post" action="/create-task">

                    <div class="index-task_title">
                        <label>タスク名</label>
                        <input type="text" id="title" name="title" class="index-user_name_text">
                    </div>

                    <div class="index-task_req">
                        <select name="des" id="des">
                            {{#each user}}
                                <option value={{id}}>{{name}}</option>
                            {{/each}}
                        </select>
                    </div>

                    <div class="index-task_date">
                        <label>期限</label>
                        <input type="date" name="date" id="date" min="2012-01-01" max="2012-12-31">
                    </div>
                    <script>
                        window.onload = function () {
                            var today = new Date();
                            today.setDate(today.getDate());
                            var yyyy = today.getFullYear();
                            var mm = ("0"+(today.getMonth()+1)).slice(-2);
                            var dd = ("0"+today.getDate()).slice(-2);
                            document.getElementById("date").value=yyyy+'-'+mm+'-'+dd;
                            }                               
                    </script>

                    <div class="index-task_info">
                        <label>メモ</label>
                        <input type="text" id="info" name="info" class="index-user_name_text">
                    </div>

                        {{!-- <div class="form-group .bmd-form-group">
                            <!-- left unspecified, .bmd-form-group will be automatically added (inspect the code) -->
                            <label for="formGroupExampleInput" class="bmd-label-floating">タスク名</label>
                            <input type="text" class="form-control" id="title">
                        </div>

                        <div class="form-group .bmd-form-group">
                            <label for="custom-select-1c">依頼先</label>
                            <select id="req" class="custom-select custom-select-lg">
                                {{#each user}}
                                    <option value={{id}}>{{name}}</option>
                                {{/each }}
                            </select>
                        </div> --}}

                        {{!-- DatePocker関連 srcはlayoutに記述しました --}}
                        {{!-- https://gijgo.com/datepicker/example/bootstrap --}}
                        {{!-- <div class="form-group .bmd-form-group">
                            <label for="datepicker">期日</label>
                            <input id="datepicker" />
                            <script>
                                //$('#datepicker').datepicker({
                                    uiLibrary: 'bootstrap'
                                });
                            </script>
                        </div> --}}
                        {{!-- <div class="form-group .bmd-form-group"></div>
                            <label >日付</label>
                            <div class='input-group date' id='datetimepicker1'>
                                <input type='text' class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div> --}}

                        {{!-- <div class="form-group .bmd-form-group">
                            <!-- left unspecified, .bmd-form-group will be automatically added (inspect the code) -->
                            <label for="formGroupExampleInput" class="bmd-label-floating">メモ</label>
                            <input type="text" class="form-control" id="info">
                        </div> --}}

                         {{!-- <div class="text-center index-enter">
                            <input type="submit" value="タスク追加" class="common-button index-enter_button" onclick="create()"> 
                        </div>

                    </form> --}}
                                
                        <div class='index-enter'>
                            <input type="button" value="タスク追加" class="common-button index-enter_button" onclick="create()"/>
                        </div>
                    </form>

                </div>
            {{!-- </form> --}}
        </div>
</div>


<script src="/javascripts/create.js"></script>

<!-- bootstrap-material-design用 -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"
    integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
    crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"
    integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
    crossorigin="anonymous"></script>
<script>$(document).ready(function () { $('body').bootstrapMaterialDesign(); });</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment-with-locales.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker();
    });
</script>
