<div class="allContainer">
    <div class="box">
        <div class="inbox">

            <div class="inbox_menus">
                <div class="inbox_menu">
                    <div class="active_menu">
                        <div class="menu_user">
                            <div class="user_img"> <img src="https://ptetutorials.com/images/user-profile.png"
                                    alt="sunil"> </div>
                            <div class="user_ib">
                                <h5>User：{{user.name}}
                                    <input id="userName" value={{user.name}} type="hidden" value="">
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="menu_list active_menu text-center">
                        <a href="/user" class="btn btn-raised btn-success">個人タスク</a>
                    </div>
                    <div class="menu_list active_menu text-center">
                        <a href="/room" class="btn btn-raised btn-success">全体チャット</a>
                    </div>
                    <div class="menu_list active_menu text-center">
                        <a href="/task" class="btn btn-raised btn-success">全体タスク</a>
                    </div>
                    <div class="menu_list active_menu text-center">
                        <button type="button" onclick="location.href='/create-task'"
                            class="btn btn-primary bmd-btn-fab bmd-btn-fab-sm">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                    <div class="menu_list active_menu text-center">
                        <a href="/" class="btn btn-raised ow-button">ログアウト</a>
                    </div>
                </div>
            </div>
            <form method="post" onsubmit="return publish()">
                <div class="mesgs">
                    <div class="msg_history" id="msg_history">
                        <!-- DOM -->
                        {{#each chats}}
                        {{#with dataValues}}
                        {{!-- ログイン中のユーザとチャット投稿者が同じ時 --}}
                        {{#if ( isEquals ../../user.name  User.dataValues.name) }}
                        <div class="outgoing_msg">
                            <div class="sent_msg">
                                <div id="outgoing_msg{{ id }}">
                                    <p>{{ content }}</p>
                                </div>
                                <span class="time_date" id="outgoing_time_date_{{ id }}">
                                    {{unixtimeToDate createdAt 'YYYY年 M月D日 HH24時MI分SS秒'}}
                                </span>
                            </div>
                        </div>
                        {{!-- ログインユーザ以外の時 --}}
                        {{else}}
                        <div class="incoming_msg">
                            <div class="incoming_msg_img">
                                <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
                            </div>
                            <div class="received_msg">{{ User.dataValues.name }}
                                <div class="received_withd_msg">
                                    <div id="incoming_msg{{ id }}">
                                        <p>{{ content }}</p>
                                    </div>
                                    <span class="time_date" id="incoming_time_date{{ id }}">
                                        {{unixtimeToDate createdAt 'YYYY年 M月D日 HH24時MI分SS秒'}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        {{/if}}
                        {{/with}}
                        {{/each}}
                    </div>


                    <div class="type_msg row">
                        <div class="input_msg_write col-10 form-group">
                            <label for="formGroupExampleInput" class="bmd-label-floating">Type a message</label>
                            <input type="text" class="form-control col-10" id="message" />
                            <span class="form-group bmd-form-group col-1">
                                <!-- needed to match padding for floating labels -->
                                <button type="submit" class="btn btn-primary bmd-btn-fab bmd-btn-fab-sm " value="投稿">
                                    <i class="fas fa-paper-plane" aria-hidden="true"></i>
                                </button>
                            </span>
                        </div>
                        <div class="col-2 taskButton">

                            <a href="/create-task" class="btn btn-raised ow-button">
                                <i class="fas fa-file"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <p class="text-center top_spac"> ©︎ Copylight Rakus Intern A-team All Rights Reserved.</p>

</div>
</div>