<div class="container">
    <h3 class=" text-center">user-task</h3>
    <div class="box">
        <div class="inbox">
            <form method="post" action="/">
                <div class="inbox_menus">
                    <div class="inbox_menu">
                        <div class="menu_list active_menu">
                            <div class="menu_user">
                                <div class="user_img"> <img src="https://ptetutorials.com/images/user-profile.png"
                                        alt="sunil"> </div>
                                <div class="user_ib">
                                    <h5>User：{{userName}}
                                        <input id="userName" value={{userName}} type="hidden" value="">
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div class="menu_list active_menu text-center">
                            <a href="/user" class="btn btn-raised btn-info">個人タスク</a>
                        </div>
                        <div class="menu_list active_menu text-center">
                            <a href="/room" class="btn btn-raised btn-success">全体チャット</a>
                        </div>
                        <div class="menu_list active_menu text-center">
                            <a href="/task" class="btn btn-raised btn-success">全体タスク</a>
                        </div>
                        <div class="menu_list active_menu text-center">
                            <button type="button" class="btn btn-primary bmd-btn-fab bmd-btn-fab-sm">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                        <div class="menu_list active_menu text-center">
                            <a href="/" class="btn btn-raised btn-danger">ログアウト</a>
                        </div>
                    </div>
                </div>

                <div id="contents" class="task_contents">
                    <div class="task_contents_box">
                        <div class="row task_row">
                         {{!-- 受け取ったタスク --}}
                        <div class='col mini_task'>
                            <div class='accordion' id="user{{id}}_desTask">
                                {{!-- 受け取ったタスクがない場合 --}}
                                {{#unless hasDesTask}}
                                <div class="card text-white bg-secondary">
                                    <div class="card-header" id="user{{ id }}_desTask">
                                        <h5 class="mb-0 text-center">
                                            <label>進行中のタスクはありません．</label>
                                        </h5>
                                    </div>
                                </div>
                                {{else}}
                                {{!-- 一気に描画する --}}
                                {{#each desTask}}
                                {{#if done}}
                                    <div class="card text-white bg-primary">
                                {{else}}
                                    <div class="card text-white bg-danger">
                                {{/if}}
                                        <div class="card-header" id="user{{../id}}_desTask_{{title}}">
                                            <h5 class="mb-0">
                                                <div class="row">
                                                    <div class='col-6 text-center'>
                                                    タスク名：{{title}}
                                                    </div>
                                                    <div class='col-4'>
                                                        <button class="btn btn-light collapsed　btn-secondary" type="button"
                                                            data-toggle="collapse" data-target="#user{{../id}}_collapse_{{title}}"
                                                            aria-expanded="false" aria-controls="user{{../id}}_collapse_{{title}}">
                                                            <p>
                                                                {{#if done}}
                                                                タスク完成：{{done}}
                                                                {{else}}
                                                                タスク未完成：{{done}}
                                                                {{/if}}
                                                            </p>
                                                        </button>
                                                    </div>
                                                </div>
                                            </h5>
                                        </div>

                                        <div id="user{{../id}}_collapse_{{title}}" class="collapse"
                                            aria-labelledby="user{{../id}}_desTask_{{title}}" data-parent="#user{{../id}}_all_desTask">
                                            <div class="card-body">
                                                <p>ユーザ{{../id}}のタスク</p>
                                                
                                                <ul>
                                                    <p>タスク名：{{title}}</p>
                                                    <p>タスク期限：{{unixtimeToDate date 'YYYY年 M月D日 HH24:MI:SS'}}</p>
                                                    <p>タスク依頼者：{{req}}</p>
                                                    <p>タスク依頼先：{{des}}</p>
                                                    <p>タスク情報：{{info}}</p>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                {{/each}}
                                {{/unless}}
                            </div>
                        </div>
                        
                        {{!-- 送ったタスク --}}
                        <div class='col mini_task'>
                            <div class='accordion' id="user{{id}}_reqTask">
                            {{!-- 送ったタスクがない場合 --}}
                                {{#unless hasReqTask}}
                                <div class="card text-white">
                                    <div class="card-header" id="user{{ id }}_no_reqTask">
                                        <h5 class="mb-0 text-center">
                                            <label>依頼中のタスクはありません．</label>
                                        </h5>
                                    </div>
                                </div>
                                {{else}}
                                {{!-- 一気に描画する --}}
                                {{#each reqTask}}
                                {{#if done}}
                                    <div class="card text-white bg-primary">
                                {{else}}
                                    <div class="card text-white bg-danger">
                                {{/if}}
                                        <div class="card-header" id="user{{../id}}_reqTask_{{title}}">
                                            <h5 class="mb-0">
                                                <div class="row">
                                                    <div class='col-6 text-center'>
                                                    タスク名：{{title}}
                                                    </div>
                                                    <div class='col-4'>
                                                        <button class="btn btn-light collapsed　btn-secondary" type="button"
                                                            data-toggle="collapse" data-target="#user{{../id}}_collapse_{{title}}"
                                                            aria-expanded="false" aria-controls="user{{../id}}_collapse_{{title}}">
                                                            <p>
                                                                {{#if done}}
                                                                タスク完成：{{done}}
                                                                {{else}}
                                                                タスク未完成：{{done}}
                                                                {{/if}}
                                                            </p>
                                                        </button>
                                                    </div>
                                                </div>
                                            </h5>
                                        </div>

                                        <div id="user{{../id}}_collapse_{{title}}" class="collapse"
                                            aria-labelledby="user{{../id}}_reqTask_{{title}}" data-parent="#user{{../id}}_all_reqTask">
                                            <div class="card-body">
                                                <p>ユーザ{{../id}}のタスク</p>
                                                
                                                <ul>
                                                    <p>タスク名：{{title}}</p>
                                                    <p>タスク期限：{{unixtimeToDate date 'YYYY年 M月D日 HH24:MI:SS'}}</p>
                                                    <p>タスク依頼者：{{req}}</p>
                                                    <p>タスク依頼先：{{des}}</p>
                                                    <p>タスク情報：{{info}}</p>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                {{/each}}
                                {{/unless}}
                            </div>
                        </div>
                    </div>
                                </div>
                        </div>
        </div>
        </div>
    </form>
</div>
</div>

{{!-- <p class="text-center top_spac"> rakus-intern-A-team</a></p> --}}
<p class="text-center top_spac"> ©︎ Copylight Rakus Intern A-team All Rights Reserved.</a></p>

</div>
</div>